  <div class = "side_box">
      <div class = "name">
      <%= link_to "#{current_user.name}", "users/:id/edit"%>
      <%# <%= link_to current_user.name, edit_user_path(current_user)%> 
      </div>
      <div class = "new_chat">
      <%= link_to "チャットを作成する", new_room_path %>      
      </div>
  </div>
  <div class = "rooms_bar">
   <% current_user.rooms.each do |room|%>
    <div class = "room">
      <div class = room_name>
      <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
   <% end %>
    
    <%# <div class = "room">
      <div class = "room_name">
      <%# <a href = "#">room2</a> %>
      <%# </div>
    </div> %>
  </div>