  <div class = "side_box">
      <div class = "name">
      <%= link_to "#{current_user.name}", "users/:id/edit"%>
      <%# <%= link_to current_user.name, edit_user_path(current_user)%> 
      </div>
      <div class = "new_chat">
      <a href = "#">チャットを作成する</a>
      </div>
  </div>
  <div class = "rooms_bar">
    <div class = "room">
      <div class = room_name>
      <a href = "#">room1</a>
      </div>
    </div>
    <div class = "room">
      <div class = "room_name">
      <a href = "#">room2</a>
      </div>
    </div>
  </div>